// Colors

@base-background-color: hsl(75, 6%, 14%);
@base-border-color: darken(@base-background-color, 10%);
@text-color: hsl(0, 0%, 80%);

@text-color-subtle: fade(@text-color, 40%);
@text-color-highlight: lighten(@text-color, 20%);
@text-color-selected: lighten(@text-color, 10%);

@text-color-info: #5293d8;
@text-color-success: #2BDA77;
@text-color-warning: #ff982d;
@text-color-error: #c00;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #0098ff;
@background-color-success: #17ca65;
@background-color-warning: #ffaa2c;
@background-color-error: #c00;
@background-color-highlight: rgba(255, 255, 255, 0.07);
@background-color-selected: #4182C4;

@app-background-color: lighten(@base-background-color, 5%);

@pane-item-background-color: lighten(desaturate(@base-background-color, 5%), 7%);
@pane-item-border-color: darken(@pane-item-background-color, 20%);

@input-background-color: @base-background-color;
@input-border-color: darken(@input-background-color, 20%);

@tool-panel-background-color: lighten(@base-background-color, 10%);
@tool-panel-border-color: darken(@tool-panel-background-color, 20%);

@inset-panel-background-color: darken(@base-background-color, 5%);
@inset-panel-border-color: darken(@inset-panel-background-color, 20%);

@panel-heading-background-color: lighten(@base-background-color, 10%);
@panel-heading-border-color: darken(@panel-heading-background-color, 10%);

@overlay-background-color: lighten(@base-background-color, 20%);
@overlay-border-color: @background-color-highlight;

@button-background-color: lighten(saturate(@base-background-color, 30%), 20%);
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: lighten(@button-background-color, 15%);
@button-border-color: @base-border-color;

@tab-bar-background-color: desaturate(@base-background-color, 30%);
@tab-bar-border-color: fadeout(darken(@tab-bar-background-color, 30%), 60%);

@tab-background-color: lighten(desaturate(@base-background-color, 10%), 10%);
@tab-background-color-active: lighten(saturate(@base-background-color, 20%), 15%);
@tab-border-color: lighten(@tab-background-color, 20%);

@tree-view-background-color: darken(@base-background-color, 5%);
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: #222425; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-color: rgba(92, 92, 92, 0.5);

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow


// Sizes

@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 8px;
@component-icon-padding: 4px;
@component-icon-size: 16px;
@component-line-height: 24px;
@component-border-radius: 4px;

@tab-height: 24px;


// Other

@font-family: 'SF UI Display', 'San Francisco Display', 'Helvetica Neue UI', 'Helvetica', Ubuntu, Cantarell, sans-serif;
